<h1>Works list</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
  </thead>
  <tbody>
    <% @works.each do |w| %>
      <tr>
        <td><%= w.inventory.serial %></td>
        <td><%= w.inventory.category.name %></td>
        <td><%= w.user.name %></td>
        <td>
          <%= link_to "Delete", work_path(w), method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
